/* 
website color palette: #2C3639, #3F4E4F, #A27B5C, #DCD7C9
*/

/*--------------------------TAG SELECTORS--------------------------*/

/*NOTE: SELECTOR PROPERTIES GO IN ALPHABETICAN ORDER */
body {
    /* Verdana is the font, sans-serif is the font family to which Verdana belongs... if the users web browser
    does not have Verdana it will look for the next faunt Geneva, Tahoma... until it reaches the font family name
    sans-serif and uses the default sans-serif font*/
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

    /* this font is retrieved through one of the links in the index.html <header> */
    font-family: 'Merriweather', serif;
    /*reduces margins to 0 so the body reaches all edges of the screen
    when set to 0 no need to specify units such as pixels(px)*/
    margin: 0;
    /*text-align: center; must be done in a parent container such as the
    <body> tag or <div> tag*/
    text-align: center;
}

h1 {
    color: #A27B5C;
    /* margin: 0 auto; will do the same function as above 0 is top and
    bottom values and auto is the left and right values */  
    font-family: 'Sacramento', cursive;
    /* 100% font-size is the equivalent of 16px or 16 size font. Use percentage instead of px to make the size dynamic across
    different browser font-size settings meaning it will increas or decreas in size according to a users browser setting for easy
    readability... 1em is equal to 16px also... 16px=100%=1em*/
    /* font-size is also inherited from the parent element in this case it would be the <body> tag if
    body{font-size: 200%;} and h1{font-size: 200%;} output size on webpage would be 400%*/
    /* 5.62rem is the root em which will ignore parent(<body>) font-size to avoid size problems
    MOST RECOMMENDED */
    font-size: 5.62rem;
    /* line-height: 2; */
    /*h1 margin needs to be removed also to allow the body to extend to all edges
    of the screen*/
    /* margin: top left bottom right; with values below will automatically center
    the <h1> element */
    margin: 50px auto 0 auto;  
}

h2 {
    color: #A27B5C;
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #A27B5C;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #537FE7;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

/* span {
    background-color: blue;
} */

/*-------------------------CLASS SELECTORS-------------------------*/

.navigation-bar {
    background-color: #2C3639;
    position: relative;
}

.navigation-link {
    color: #A27B5C;
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
    margin: auto 25px;
    text-decoration: none;
}

.top-container {
    background-color: #2C3639;
    /* must set position of parent element to relative so absolute position
    can be used in child elements */
    position: relative;
}

.middle-container {
    background-color: #A27B5C;
}

.profile {
    background-color: #A27B5C;
    color: #DCD7C9;
    line-height: 1.27;
    margin: auto;
    /* margin does not maintain background color, but padding maintains background color */
    margin-bottom: -24px;
    /* padding maintains background color, but margin does not maintain background color */
    padding-bottom: 1px;
    width: 50%;
    
}

.me-img {
    padding-top: 20px;
    width: 48%;
}

.profile-h2 {
    color: #2C3639;
}

.link {
    color: #386ade;
}

.skills {
    background-color: #3F4E4F;
    padding-bottom: 130px;
    /* negative margin only needs to be used once between <div> tags to remove margin between both div's */
    margin-bottom: -115px;
}

.my-skills-h2 {
    padding-top: 13px;
    margin-bottom: -0px;
}

.skill-row {
    color:#DCD7C9;
    line-height: 1.75;
    /* gives 100px margin on top and bottom, automatically aligns this div class to the center of the screen with left and right */
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.computer-img {
    /* places the image on the left side of the next html elment */
    float: left;
    margin-right: 30px;
    /* width will change both width and height to 25% of the parent element which in this case is the skill-row class 
    which is a <div> element...NOTE: ASPECT RATIO IS MAINTAINED */
    width: 25%;
}

/* .python-skill-description { */
    /* ensures there's nothing on the left margin of the class/element, this makes it drop down to the next line in this case */
    /* clear: left;
} */

.ecommerce-img {
    /* places the image on the right side of the next html element */
    float: right;
    margin-left: 30px;
    width: 25%;
}

/* .ecommerce-skill-description {
    clear: right;
} */

.contact-me{
    background-color: #3F4E4F;
    color: #DCD7C9;
    clear: right;
    /* margin-top: -100px; */
    padding-bottom: 60px;
    text-align: center;
}

.outro {
    margin: auto auto 40px auto;
    width: 50%;
}

.btn {
    background: #a67f64;
    background-image: -webkit-linear-gradient(top, #a67f64, #634d3d);
    background-image: -moz-linear-gradient(top, #a67f64, #634d3d);
    background-image: -ms-linear-gradient(top, #a67f64, #634d3d);
    background-image: -o-linear-gradient(top, #a67f64, #634d3d);
    background-image: linear-gradient(to bottom, #a67f64, #634d3d);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #dcd7c9;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #83634d;
    text-decoration: none;
}

.bottom-container {
    background-color: #DCD7C9;
    padding-top: 25px;
    padding-bottom: 10px;
    color: #2C3639;

} 

.footer-link {
    font-family: 'Merriweather', serif;
    margin: auto 25px;
    text-decoration: none;
}

.copyright {
    color: black;
    padding-top: 5px;
}

.credits {
    font-size: .75rem;
    /* margin-bottom: 0px */
}
/*---------------------------ID SELECTORS--------------------------*/
