/* 
website color palette: #2C3639, #3F4E4F, #A27B5C, #DCD7C9
*/

/*--------------------------TAG SELECTORS--------------------------*/
p {
    color: #DCD7C9;
}

ul {
    color: #DCD7C9;
    list-style-type: none; /* Removes default bullets */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically (optional) */
    flex-direction: column; /* Stack items vertically */
}

/* -------------------------CLASS SELECTORS----------------------- */
.navigation-bar {
    margin-bottom: -50px; /*removes white space between navigation bar and top-container div*/
}

.top-container {
    padding-bottom: 30px;
}

.ecommerce-header {
    padding: 50px 0px 0px 0px;
}

.ecommerce-container {
    padding: 20px 0px;
}

.ecommerce-image {
    display: block;
    width: 35%;
    margin: 0 auto;
}

.text {
    width: 50%;
    margin: 0 auto;
}

/* ----------------------------ID SELECTORS----------------------- */