/* 
website color palette: #2C3639, #3F4E4F, #A27B5C, #DCD7C9
*/

/*--------------------------TAG SELECTORS--------------------------*/
p {
    color: #DCD7C9;
}

ul {
    list-style: none; /*hides bullet point for unordered list*/
}

/* -------------------------CLASS SELECTORS----------------------- */
.navigation-bar {
    margin-bottom: -50px; /*removes white space between navigation bar and top-container div*/
}

.top-container {
    padding-bottom: 30px;
}

.hobby-header {
    padding: 50px 0px 0px 0px;
}

.hobby-container{
    padding: 20px 0px;

}
.hobby-img {
    width: 35%;
}
.text {
    width: 50%;
    margin: auto;
}
/* Container for the YouTube video */
.youtube-container {
    position: relative;    /* Set the positioning context for absolutely positioned children */
    width: 25%;            /* Set the container width to 50% of its parent */
    padding-bottom: 14.0625%; /* Set the bottom padding to create a responsive height (aspect ratio 16:9) */
    height: 0;             /* Ensure the container has no intrinsic height */
    margin: 0 auto;        /* Center the container horizontally by setting left and right margins to 'auto' */
    display: block;        /* Ensure it's a block element for margin:auto to work */
}

/* Styles for the embedded YouTube iframe */
.youtube-container iframe {
    position: absolute;    /* Position the iframe absolutely within its relatively positioned container */
    top: 0;                /* Align the top of the iframe to the top of the container */
    left: 0;               /* Align the left of the iframe to the left of the container */
    width: 100%;           /* Make the iframe fill the entire width of its container */
    height: 100%;          /* Make the iframe fill the entire height of its container */
}


/* ----------------------------ID SELECTORS----------------------- */